<template>
    <div>
        <footer id="footer">
            <div class="container footer">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Foodies</h1>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <img src="img/googleplay.svg">
                            <img src="img/appstore.svg">
                        </center>
                    </div>
                </div>
            </div>
            <div class="container footer2">
                <div class="col-md-12 scrollto">
                    <a href="#">Conoce nuestras sucursales</a>
                    <a href="#acerca">Acerca de</a>
                    <a href="#">Conoce nuestras sucursales</a>
                    <a href="#">¿Qué hablan de nosotros?</a>
                    <a href="#contactanos">Contáctanos</a>
                </div>
            </div>
        </footer>
    </div>
</template>

<!--============Script Axios=============-->
<script>
export default {}
</script>