<template>
    <div>
        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center">
                <div class="home">
                    <a href="/">Foodies</a>
                </div>
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <h1 class="d-lg-none">Foodies</h1>
                        <li><a href="#acerca">Acerca de</a></li>
                        <li><a href="#restaurante">Restaurantes</a></li>
                        <li><a href="/menu">Menú</a></li>
                        <li><a href="#contactanos">Contáctanos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</template>

<!--============Script Axios=============-->
<script>
export default {}
</script>