<template>
    <div>
        <header id="header" class="fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center">
                <div class="home_menu">
                    <a href="/">Foodies</a>
                </div>
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li><a href="/#acerca" class="text-navbar">Acerca de</a></li>
                        <li><a href="/#restaurante" class="text-navbar">Restaurantes</a></li>
                        <li class="active"><a href="/menu" class="text-navbar active">Menú</a></li>
                        <li><a href="/#contactanos" class="text-navbar">Contáctanos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</template>

<!--============Script Axios=============-->
<script>
export default {
    name: 'HeaderMenuComponent',
}
</script>