/*===Extra small devices===*/
@media (max-width: 767px) {

/*============================================================================================*/
/* Section Inicio
/*============================================================================================*/
  #inicio {
    background: url(../img/hero.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 40vw 0vw 0vw 0;
    margin-bottom: 60px;
    position: relative;
  }
  #inicio h1 {
    font-size: 3.1rem;
    font-weight: 900;
    color: #0c0f14;
    line-height: 0.9;
    margin-top: 40px;
  }
  #inicio p {
    font-size: 1.1rem;
    color: #a9adb3;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .hamburger {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: -65px;
  }
  .find {
    color: #0c0f14;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.9s;
  }

/*============================================================================================*/
/* Section Acercade
/*============================================================================================*/
  #acerca {
    margin-bottom: 60px;
    position: relative;
  }
  #acerca h1 {
    color: #fff;
    font-weight: 900;
    font-size: 2.9rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-left: 55px;
    text-align: end;
  }
  #acerca h1 div {
    color: #ffc700;
    display: inline;
  }
  #acerca p {
    color: #a9adb3;
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  .acerca {
    background: url(../img/acerca.svg);
    background-position: center;
    min-height: 565px;
  }
  .acerca2 {
    background: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 50px 40px 10px 40px;
  }
  .finds {
    color: #0c0f14;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.9s;
  }

/*============================================================================================*/
/* Section Restaurante
/*============================================================================================*/
  #restaurante {
    margin-bottom: 60px;
    position: relative;
  }
  #restaurante h1 {
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 25px;
    margin-right: 90px;
    text-align: left;
  }
  #restaurante .card {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: -5px;
    border: none;
  }
  .search {
    border: none;
    border-bottom: solid #caccd0 2px;
    border-radius: 0px;
    padding-left: 60px;
    height: 45px;
    color: #caccd0;
  }
  .iconos {
    position: absolute;
    top: 10px;
    font-size: 1.3rem;
    left: 25px;
  }
  .opciones + label {
    font-weight: bold;
    background: #fff;
    color: #0c0f14;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
    cursor: pointer;
    border-top: solid #caccd0 2px;
    border-bottom: solid #caccd0 2px;
  }
  .maps {
    display: none;
  }

/*============================================================================================*/
/* Section Testimonial
/*============================================================================================*/
  #testimonial {
    margin-bottom: 60px;
    position: relative;
  }
  #testimonial h1 {
    font-weight: 900;
    font-size: 1.8rem;
  }
  #testimonial p {
    color: #a9adb3;
    margin-bottom: 0px;
    font-size: 1.1rem;
    padding: 0px 5px;
  }
  #testimonial::before {
    display: none;
  }
  #testimonial::after {
    display: none;
  }
  #testimonial img {
    display: none;
  }
  .testimonial {
    text-align: center;
    padding: 15px 5px;
  }

/*============================================================================================*/
/* Section Contactanos
/*============================================================================================*/
  #contactanos {
    margin-bottom: 60px;
    background: #000;
    padding: 70px 0 380px 5px;
    position: relative;
  }
  #contactanos h1 {
    text-align: center;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  #contactanos h5 {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }
  #contactanos button {
    float: none;
    background: #ffd600;
    font-weight: bold;
    padding: 12px;
    transition: all 0.9s;
  }

/*============================================================================================*/
/* Section Aplicacion
/*============================================================================================*/
  #aplicacion {
    margin-bottom: 240px;
    position: relative;
    min-height: 600px;
  }
  #aplicacion h1 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 900;
    color: #000;
    margin: 220px 0 0 0;
    padding: 0 30px 0 30px;
  }
  #aplicacion h1 div {
    background: #ffd600;
    width: auto;
    margin: auto;
  }
  .phone {
    position: absolute;
    top: -270px;
    left: 0px;
    width: 100%;
    content: url(../img/phone_mobile.svg);
  }
  .arrow {
    display: none;
  }
  .arrow2 {
    display: none;
  }
  .container1 {
    top: 50px;
    text-align: center;
  }
  .container2 {
    text-align: center;
    top: 100px;
  }
  .container3 {
    text-align: center;
    position: relative;
    bottom: 0;
    top: 150px;
    left: 0;
  }

/*============================================================================================*/
/* Footer
/*============================================================================================*/
  #footer h1 {
    color: #7a7a7a;
    font-weight: 900;
    font-size: 2rem;
    margin: auto;
    top: 7px;
    position: relative;
    margin-left: 0;
    margin-bottom: 25px;
    text-align: center;
  }
  #footer img {
    float: none;
    width: 150px;
    padding: 0px 5px;
  }
  #footer a {
    color: #a9adb3;
    padding: 0 20px;
    transition: all 0.9s;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer {
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*===Medium devices===*/
@media (min-width: 768px) and (max-width: 1024px)  {

/*============================================================================================*/
/* Section Inicio
/*============================================================================================*/
  #inicio {
    background: url(../img/hero.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 20vw 0;
    margin-bottom: 90px;
    position: relative;
  }
  #inicio h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #0c0f14;
    line-height: 0.9;
  }

/*============================================================================================*/
/* Section Acercade
/*============================================================================================*/
  .acerca2 {
    background: url(../img/acerca2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 70px 90px;
  }

/*============================================================================================*/
/* Section Restaurante
/*============================================================================================*/
  #restaurante .card {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: -5px;
    border: none;
  }
  .maps {
    height: 500px;
    width: 100%;
    margin-top: 40px;
  }

/*============================================================================================*/
/* Section Testimonial
/*============================================================================================*/
  #testimonial img {
    position: absolute;
    right: 0;
    top: -60px;
    z-index: 999;
    display: none;
  }
  #testimonial h1 {
    font-weight: 900;
    font-size: 2.3rem;
  }
  .testimonial {
    text-align: center;
    padding: 130px 130px;
  }
  #testimonial p {
    color: #a9adb3;
    margin-bottom: 0px;
    font-size: 1rem;
    padding: 0px 0px;
  }

/*============================================================================================*/
/* Section Contactanos
/*============================================================================================*/
  #contactanos {
    margin-bottom: 90px;
    background: #000;
    padding: 140px 40px 300px 40px;
    position: relative;
  }
  #contactanos button {
    float: none;
    background: #ffd600;
    font-weight: bold;
    padding: 12px;
    transition: all 0.9s;
  }
  .phone {
    position: absolute;
    top: -365px;
    left: 50px;
    width: 600px;
    content: url(../img/phone_mobile.svg);
  }

/*============================================================================================*/
/* Section Aplicacion
/*============================================================================================*/
  #aplicacion h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 900;
    color: #000;
    margin-top: 320px;
  }
  #aplicacion {
    margin-bottom: 90px;
    position: relative;
    min-height: 820px;
  }
  .arrow {
    position: absolute;
    left: 100px;
    top: auto;
    bottom: -160px;
  }
  .arrow2 {
    position: absolute;
    right: 90px;
    top: auto;
    bottom: -166px;
  }

/*============================================================================================*/
/* Footer
/*============================================================================================*/
  #footer img {
    float: right;
    width: 160px;
    padding: 0px 5px;
  }
  #footer a {
    color: #a9adb3;
    padding: 0px 20px;
    transition: all 0.9s;
    text-align: center;
    display: inline-block;
  }
}

/*===Medium devices Landscape===*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

/*============================================================================================*/
/* Section Aplicacion
/*============================================================================================*/
  .phone {
    position: absolute;
    top: -355px;
    left: 150px;
    width: 600px;
    content: url(../img/phone_mobile.svg);
  }
  #aplicacion h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 900;
    color: #000;
    margin-top: 340px;
  }
  .arrow {
    position: absolute;
    left: 150px !important;
    top: auto !important;
  }
  .arrow2 {
    position: absolute;
    right: 150px !important;
    top: auto !important;
  }
  .container3 {
    text-align: center;
    position: absolute;
    bottom: -280px;
    left: 210px;
  }
}

/*===Extra large devices===*/
@media (min-width: 1024px) and (max-width: 1280px) {

/*============================================================================================*/
/* Section Inicio
/*============================================================================================*/
  #inicio {
    background: url(../img/hero.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 17vw 0;
    margin-bottom: 90px;
    position: relative;
  }

/*============================================================================================*/
/* Section Restaurante
/*============================================================================================*/
  #restaurante .card {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: -5px;
    border: none;
  }

/*============================================================================================*/
/* Section Testimonial
/*============================================================================================*/
  #testimonial img {
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 999;
  }

/*============================================================================================*/
/* Section Aplicacion
/*============================================================================================*/
  .arrow {
    position: absolute;
    left: 95px;
    top: 216px;
  }
  .arrow2 {
    position: absolute;
    right: 15px;
    top: 215px;
  }
}
