@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/*============================================================================================*/
/* Html
/*============================================================================================*/
a:link,
a:visited,
a:active {
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
}
input[type="radio"] {
  display: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #caccd0;
}
.margen {
  margin: auto;
}
.padding {
  padding: 0px;
}
button:focus {
  outline: none;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}
.animacion {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
    alternate;
}
@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

/*============================================================================================*/
/* Header
/*============================================================================================*/
#header {
  z-index: 9991;
  transition: all 0.7s;
  padding: 20px 0;
}
.header-scrolled {
  padding: 15px 0 !important;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.home {
  margin-right: 15%;
}
.home a {
  color: #0c0f14;
  font-weight: 900;
  font-size: 2.1rem;
  transition: all 0.9s;
}
.home:hover a {
  color: #ffc700;
}
.activo {
  color: #ffc700 !important;
}

/*============================================================================================*/
/* Navigation Menu desktop
/*============================================================================================*/
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}
.nav-menu a {
  color: #0c0f14;
  font-weight: bold;
  padding: 10px 0 10px 25px;
  font-size: 1rem;
  transition: all 0.7s;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #a56d01;
}

/*============================================================================================*/
/* Navigation Menu mobile
/*============================================================================================*/
.mobile-nav h1 {
  font-size: 1.9rem;
  font-weight: 900;
  padding: 10px 30px;
}
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 27px;
  z-index: 99999;
  border: 0;
  background: none;
  transition: all 0.9s;
}
.mobile-nav-toggle i {
  color: #222222;
  font-size: 30px;
  font-weight: bold;
}
.mobile-nav {
  position: fixed;
  top: 80px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  background: #fff;
  opacity: 0;
  overflow-y: auto;
  transition: ease-in-out 0.6s;
  visibility: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 0;
  height: 265px;
}
.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 30px;
  font-weight: bold;
  transition: all 0.9s;
}
.mobile-nav a:hover {
  color: #ffc700;
}
.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.7);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.9s;
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
.filtro {
  filter: blur(2px);
}

/*============================================================================================*/
/* Section Inicio
/*============================================================================================*/
#inicio {
  background: url(../img/hero.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 10vw 0;
  margin-bottom: 90px;
  position: relative;
}
#inicio h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #0c0f14;
  line-height: 0.9;
}
#inicio p {
  font-size: 1rem;
  color: #a9adb3;
  margin-top: 15px;
}
#inicio h1 div {
  background: #ffd600;
  width: max-content;
}
#inicio i {
  margin-left: 10px;
}
.hamburger {
  width: 100%;
  height: auto;
  margin-left: 20px;
}
.find {
  color: #0c0f14;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.9s;
}
.find:hover {
  color: #ffc700;
}

/*============================================================================================*/
/* Section Acercade
/*============================================================================================*/
#acerca {
  margin-bottom: 90px;
  position: relative;
}
#acerca h1 {
  color: #fff;
  font-weight: 900;
  font-size: 3.5rem;
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: end;
}
#acerca h1 div {
  color: #ffc700;
}
#acerca h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 30px;
}
#acerca p {
  color: #a9adb3;
  font-size: 1.1rem;
  margin-bottom: 35px;
}
#acerca i {
  margin-left: 10px;
}
.acerca {
  background: url(../img/acerca.svg);
  min-height: 565px;
}
.acerca2 {
  background: url(../img/acerca2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 165px 90px;
}
.finds {
  color: #0c0f14;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.9s;
}
.finds:hover {
  color: #ffc700;
}

/*============================================================================================*/
/* Section Restaurante
/*============================================================================================*/
#restaurante {
  margin-bottom: 90px;
  position: relative;
}
#restaurante h1 {
  font-size: 2.6rem;
  font-weight: 900;
  margin-bottom: 25px;
}
#restaurante label {
  margin-bottom: 0px;
}
#restaurante i {
  margin-right: 10px;
}
#restaurante .card {
  margin-left: 100px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: -5px;
  border: none;
}
#restaurante .card-body {
  padding: 10px 20px;
  border-radius: 5px;
}
#restaurante p {
  margin-bottom: 0px;
}
#restaurante h5 {
  font-weight: bold;
}
#restaurante img {
  width: 100%;
}
.maps {
  height: 565px;
  width: 100%;
}
.opciones + label {
  font-weight: bold;
  background: #fff;
  color: #0c0f14;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  padding: 10px;
  cursor: pointer;
  border-top: solid #caccd0 2px;
  border-bottom: solid #caccd0 2px;
}
.opciones:checked + label {
  background: #0c0f14;
  color: #fff;
}
.search {
  border: none;
  border-bottom: solid #caccd0 2px;
  border-radius: 0px;
  padding-left: 150px;
  height: 45px;
  color: #caccd0;
}
.search:focus + .iconos {
  color: #ffc700;
}
.iconos {
  position: absolute;
  top: 10px;
  font-size: 1.3rem;
  left: 110px;
}
.ubicacion > input + div {
  cursor: pointer;
  border: solid #0c0f14 2px;
}
.ubicacion > input:checked + div {
  background: #fff1bf;
  border: solid #fff1bf 2px;
}

/*============================================================================================*/
/* Section Testimonial
/*============================================================================================*/
#testimonial {
  margin-bottom: 90px;
  position: relative;
}
#testimonial h1 {
  font-weight: 900;
  font-size: 2.8rem;
}
#testimonial p {
  color: #a9adb3;
  margin-bottom: 0px;
  font-size: 1.1rem;
  padding: 0px 115px;
}
#testimonial img {
  position: absolute;
  right: 0;
  top: -60px;
  z-index: 999;
}
#testimonial::before {
  content: url(../img/testimonial.svg);
  position: absolute;
  left: 0;
  top: -25px;
}
#testimonial::after {
  content: url(../img/testimonial2.svg);
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 99;
}
.testimonial {
  text-align: center;
  padding: 120px 240px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffc700 !important;
}

/*============================================================================================*/
/* Section Contactanos
/*============================================================================================*/
#contactanos {
  margin-bottom: 90px;
  background: #000;
  padding: 100px 300px;
  position: relative;
}
#contactanos h1 {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
#contactanos h5 {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
}
#contactanos .form-group {
  display: flex;
  flex-direction: column-reverse;
}
#contactanos input,
#contactanos label,
#contactanos textarea {
  color: #fff;
  background-color: transparent !important;
  transition: all 0.9s;
  font-size: 0.9rem;
}
#contactanos label {
  font-size: 0.8rem;
}
#contactanos input {
  height: 40px;
}
#contactanos input:focus,
#contactanos .form-group textarea:focus {
  border-color: #ffc700;
}
#contactanos input:focus + label,
#contactanos .form-group textarea:focus + label {
  color: #ffc700;
}
#contactanos button {
  float: right;
  background: #ffd600;
  font-weight: bold;
  padding: 12px;
  transition: all 0.9s;
}
#contactanos button:hover {
  background: #ffea79;
}

/*============================================================================================*/
/* Section Aplicacion
/*============================================================================================*/
#aplicacion {
  margin-bottom: 90px;
  position: relative;
  min-height: 600px;
}
#aplicacion h1 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 900;
  color: #000;
}
#aplicacion h1 div {
  background: #ffd600;
  width: max-content;
  margin: auto;
}
#aplicacion h5 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 900;
}
#aplicacion p {
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.phone {
  position: absolute;
  top: -200px;
  left: -130px;
  width: 950px;
  content: url(../img/phone.svg);
}
.numeros {
  background: #ffd600;
  padding: 12px 13px;
  border-radius: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
.container1 {
  text-align: center;
  top: 40px;
}
.container2 {
  text-align: center;
  top: 40px;
}
.container3 {
  text-align: center;
  position: absolute;
  bottom: -280px;
  left: 162px;
}
.arrow {
  position: absolute;
  left: 100px;
  top: 165px;
}
.arrow2 {
  position: absolute;
  right: 100px;
  top: 165px;
}

/*============================================================================================*/
/* Footer
/*============================================================================================*/
#footer {
  position: relative;
  bottom: 0;
}
#footer a {
  color: #a9adb3;
  padding: 0 20px;
  transition: all 0.9s;
}
#footer a:hover {
  color: #ffc700;
}
#footer img {
  float: right;
  width: 180px;
  padding: 0px 5px;
}
#footer h1 {
  color: #7a7a7a;
  font-weight: 900;
  font-size: 2rem;
  margin: auto;
  top: 7px;
  position: absolute;
  margin-left: 15px;
}
.footer {
  padding: 20px 10px;
  border-bottom: solid #ffc700 2px;
}
.footer2 {
  padding: 25px 5px;
}

/*============================================================================================*/
/* Sweet Alert - Correo Enviado
/*============================================================================================*/
.swal2-popup {
  background: #000 !important;
  border: solid !important;
}
.swal2-title {
  color: #fff !important;
  font-size: 1.8em !important;
}
.swal2-content {
  color: #fff !important;
  font-size: 0.9em !important;
}
.swal2-styled.swal2-confirm {
  background-color: #ffd600 !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: 1.0625em;
}
.swal2-styled:focus {
  box-shadow: none !important;
}
.swal2-styled.swal2-cancel {
  background-color: #8e4131 !important;
}
body.swal2-height-auto {
  padding-right: 0px !important;
}


/*////////////////////////////////////////////////////////////////////////////////////////////
                                    PAGINA MENU
////////////////////////////////////////////////////////////////////////////////////////////*/


/*============================================================================================*/
/* Header Menu
/*============================================================================================*/
#headerr {
  z-index: 9999;
  transition: all 0.7s;
  padding: 20px 0;
}
.header-scrolled {
  padding: 15px 0 !important;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.home_menu {
  margin-right: 15%;
}
.home_menu a {
  color: white;
  font-weight: bold;
  font-size: 2.1rem;
  transition: all 0.9s;
}
.home_menu:hover a {
  color: #ffc700;
}

/*============================================================================================*/
/* Navigation Menu desktop
/*============================================================================================*/
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}
.nav-menu .text-navbar {
  color: white;
  font-weight: bold;
  padding: 10px 0 10px 25px;
  font-size: 1rem;
  transition: all 0.9s;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #ffc700;
}

/*============================================================================================*/
/* Section Hero
/*============================================================================================*/
#hero_menu {
  background: url(../img/hero_menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  height: 80vh;
  padding: 10vw 0;
  margin-bottom: 90px;
  background-color: black;
}
#hero_menu h1 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  line-height: 0.9;
}
#hero_menu h1 div {
  background: #ffd600;
  width: max-content;
  padding: 10px;
}
#hero_menu div {
  color: black;
}
.hamburger_menu {
  width: 100%;
  height: auto;
}
.find_menu {
  color: #0c0f14;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.9s;
}
.find_menu:hover {
  color: #ffc700;
}

/*============================================================================================*/
/* Section buscador y filtros
/*============================================================================================*/
.buscador-icono {
  padding-left: 2.375rem;
  border-radius: 10px;
}
.form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/*============================================================================================*/
/* cards
/*============================================================================================*/
.precio {
  background-color: #ffd600;
  border-radius: 7px;
  background-size: 1px 1px;
  padding: 4px;
  font-weight: bolder;
}
.cardds:hover {
  transition: 0.3s;
  box-shadow: 5px 20px 24px rgba(56, 81, 114, 0.2);
  border-radius: 10px;
}
.img-card {
  border-radius: 10px;
  height: 264px;
}

/*============================================================================================*/
/* Paginate
/*============================================================================================*/
.page-item.active .page-link {
  background-color: black;
  border-color: black;
  color: #FFD600 !important;
  border-radius: 8px;
}
.pagination{
  margin-bottom: 0px !important;
  border-radius: 8px;
}
.page-link {
  color: #000 !important;
  transition: all 0.9s;
  border-radius: 8px;
}
.page-link:hover {
  background-color: #fff1bf;
  border-color: black;
  color: black !important;
  border-radius: 8px;
}
.pagination {
  display: inline-flex !important;
  border-radius: 8px;
}
