<template>
    <div>
        <header-component />
        <!--========Section Inicio=========-->
        <section id="inicio">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 margen order-1 order-lg-0" data-aos="zoom-in-up">
                        <h1>Un nuevo sabor esta en <div class="animacion">la ciudad</div>
                        </h1>
                        <p>Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.</p>
                        <a href="#acerca" class="find scrollto">Encuentranos<i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="col-md-6 order-0 order-lg-1" data-aos="zoom-in-up">
                        <img class="hamburger" src="../../public/img/hero_hamburger.svg">
                    </div>
                </div>
            </div>
        </section>
        <!--========Section Acercade=========-->
        <section id="acerca">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 acerca" data-aos="zoom-in-up">
                        <h1>LA COMIDA ES <div>NUESTRO ARTE</div>
                        </h1>
                    </div>
                    <div class="col-md-6 acerca2" data-aos="zoom-in-up">
                        <h2>¿Quién es Foodies?</h2>
                        <p>Elit irure ad nulla id elit laborum nostrud mollit irure. Velit reprehenderit sun nulla enim
                            aliquip duis tempor est culpa fugiat consequat culpa consectetur Lorem. Reprehenderit dolore
                            culpa irure eiusmod minim occaecat et id minim ullamco.</p>
                        <a href="#" class="finds">Contáctanos<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!--========Section Restaurante=========-->
        <section id="restaurante">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6" data-aos="zoom-in-up">
                        <center>
                            <h1>Estamos para ti</h1>
                        </center>
                        <div class="row">
                            <div class="col-6 padding">
                                <input type="radio" id="llevar" class="opciones" name="opciones"
                                    @click="mostrarTakeAwayMapa" checked="checked">
                                <label for="llevar"><i class="fas fa-hamburger"></i> Para llevar</label>
                            </div>
                            <div class="col-6 padding">
                                <input type="radio" id="domicilio" class="opciones" name="opciones"
                                    @click="mostrarDeliverysMapa">
                                <label for="domicilio"><i class="fas fa-car-side"></i> Domicilio</label>
                            </div>
                            <div class="col-12 padding">
                                <input type="text" class="form-control search" v-model="buscador"
                                    placeholder="Buscar ciudad o departamento">
                                <i class="fa fa-search iconos"></i>
                            </div>
                            <div class="col-md-12">
                                <div v-if="this.llevar == true">
                                    <div class="card" v-for="(takeaway,index) in this.takeaways" v-bind:key="index"
                                        @click="obtenerPosicionTakeaway(takeaway);displayTooltip(index)">
                                        <label class="ubicacion">
                                            <input type="radio" name="ubicacion">
                                            <div class="card-body">
                                                <h5>{{ takeaway.name }}</h5>
                                                <span>abierto de {{ takeaway.opening_time}} -
                                                    {{ takeaway.closing_time }}</span>
                                                <p><span>{{ takeaway.address }}</span></p>
                                            </div>
                                        </label>
                                    </div>
                                    <div v-if="takeaways.length == 0">
                                        <center>
                                            <img src="../../public/img/errorSearchRestaurants.svg">
                                        </center>
                                    </div>
                                </div>
                                <div v-else-if="this.llevar == false">
                                    <div class="card" v-for="(delivery,index) in this.deliverys" v-bind:key="index"
                                        @click="obtenerPosicionDelivery(delivery);Tooltip(index)">
                                        <label class="ubicacion">
                                            <input type="radio" name="ubicacion">
                                            <div class="card-body">
                                                <h5>{{ delivery.name }}</h5>
                                                <span>abierto de {{ delivery.opening_time}} -
                                                    {{ delivery.closing_time }}</span>
                                                <p><span>{{ delivery.address }}</span></p>
                                            </div>
                                        </label>
                                    </div>
                                    <div v-if="deliverys.length == 0">
                                        <center>
                                            <img src="img/errorSearchRestaurants.svg">
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 padding" data-aos="fade-left">
                        <div class="maps">
                            <l-map v-if="showMap" :zoom="zoom" :center="center" :options="mapOptions">
                                <l-tile-layer :url="url" :attribution="attribution" />
                                <div v-if="this.llevar == true">
                                    <l-marker v-for="takeaway in this.takeaways" v-bind:key="takeaway.id"
                                        :lat-lng="obtenerCoordenadasTakeAway(takeaway)" ref="markersRef">
                                        <l-Popup>
                                            <p>{{takeaway.name}}</p>
                                        </l-Popup>
                                    </l-marker>
                                </div>
                                <div v-else-if="this.llevar == false">
                                    <l-marker v-for="delivery in this.deliverys" v-bind:key="delivery.id"
                                        :lat-lng="obtenerCoordenadasDelivery(delivery)" ref="markersRef">
                                        <l-Popup>
                                            <p>{{delivery.name}}</p>
                                        </l-Popup>
                                    </l-marker>
                                </div>
                            </l-map>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--========Section Testimonial=========-->
        <section id="testimonial">
            <img src="/img/testimonial_ketchup.svg" data-aos="fade-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" data-aos="zoom-in-up">
                        <carousel :autoplay="true" :nav="false" :dots="true" :autoplayHoverPause="true" :items="1"
                            :autoplayTimeout="15000" :lazyLoad="true" :pullDrag="false">
                            <div class="testimonial">
                                <h1>"El mejor lugar para desgustar en familia y amigos!"</h1>
                                <p>Es el mejor lugar al que he venido con mi familia, la comida es rica, sirven rápido y
                                    te atienden de la mejor manera.</p>
                            </div>
                            <div class="testimonial">
                                <h1>"El mejor lugar para desgustar en familia y amigos!"</h1>
                                <p>Es el mejor lugar al que he venido con mi familia, la comida es rica, sirven rápido y
                                    te atienden de la mejor manera.</p>
                            </div>
                            <div class="testimonial">
                                <h1>"El mejor lugar para desgustar en familia y amigos!"</h1>
                                <p>Es el mejor lugar al que he venido con mi familia, la comida es rica, sirven rápido y
                                    te atienden de la mejor manera.</p>
                            </div>
                        </carousel>
                    </div>
                </div>
            </div>
        </section>
        <!--========Section Contactanos=========-->
        <section id="contactanos">
            <div class="container-fluid" data-aos="zoom-in-up">
                <h1>Cuentanos tu experiencia</h1>
                <h5>Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.</h5>
                <div class="row">
                    <div class="col-md-4" data-aos="zoom-in-down" data-aos-delay="200">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre_apellido" v-model="nombres_apellido"
                                autocomplete="off" placeholder="John Doe">
                            <label>Nombre y Apellido</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" v-model="email" autocomplete="off"
                                placeholder="j.doe@correo.com">
                            <label>Correo electrónico</label>
                        </div>
                    </div>
                    <div class="col-md-8" data-aos="zoom-in-down" data-aos-delay="200">
                        <div class="form-group">
                            <textarea name="mensaje" cols="5" rows="5" class="form-control" v-model="mensaje"
                                autocomplete="off" placeholder="El día de ahora mi experiencia fue..."></textarea>
                            <label>Mensaje</label>
                        </div>
                        <center>
                            <button type="submit" class="btn btn-warning" @click="enviarComentario">Enviar
                                Comentarios</button>
                        </center>
                    </div>
                </div>
            </div>
        </section>
        <!--========Section Aplicacion=========-->
        <section id="aplicacion">
            <div class="container">
                <div class="row"  data-aos="zoom-in">
                    <div class="col-md-5">
                        <div class="phone"></div>
                    </div>
                    <div class="col-md-7">
                        <h1>Obten más beneficios <div>Descarga nuestra App</div>
                        </h1>
                        <img src="img/arrow.svg" class="arrow" data-aos="zoom-in-down" data-aos-delay="200">
                        <img src="img/arrow2.svg" class="arrow2" data-aos="zoom-in-down" data-aos-delay="200">
                        <div class="row">
                            <div class="col-md-6 container1">
                                <span class="numeros">01</span>
                                <h5>Solicita rápido</h5>
                                <p>Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna
                                    aliquet ultricies.</p>
                            </div>
                            <div class="col-md-6 container2">
                                <span class="numeros">02</span>
                                <h5>Fácil de Usar</h5>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur</p>
                            </div>
                            <div class="col-md-6 container3">
                                <span class="numeros">03</span>
                                <h5>Promociones especiales</h5>
                                <p>Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellos eget magna
                                    aliquet ultricies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-component />
    </div>
</template>

<!--============Script Axios=============-->
<script>
import HeaderComponent from './shared/HeaderComponent';
import FooterComponent from './shared/FooterComponent';
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios'
import 'leaflet/dist/leaflet.css';
import VueSweetalert2 from 'vue-sweetalert2';
import 'sweetalert2/dist/sweetalert2.min.css';
import carousel from 'vue-owl-carousel2';
import {
    latLng
} from "leaflet";
import {
    LMap,
    LTileLayer,
    LMarker,
    LPopup
} from "vue2-leaflet";
import AOS from 'aos';
import 'aos/dist/aos.css';
AOS.init({
    duration: 1400,
});
Vue.use(VueAxios, axios);
Vue.use(VueSweetalert2);
export default {
    name: 'MainComponent',
    components: {
        carousel,
        HeaderComponent,
        FooterComponent,
        LMap,
        LTileLayer,
        LMarker,
        LPopup,
    },
    data() {
        return {
            zoom: 10,
            center: latLng(13.7003861, -89.2245154),
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            currentZoom: 11.5,
            currentCenter: latLng(13.7003861, -89.2245154),
            showParagraph: false,
            mapOptions: {
                zoomSnap: 0.5
            },
            showMap: true,
            buscador: '',
            llevar: true,
            nombres_apellido: '',
            email: '',
            mensaje: '',
            lat: '',
            lng: '',
            markerObjects: null,
        };
    },
    mounted() {
        axios.get('https://api.elaniin.dev/api/locations?type=delivery')
            .then(respuesta => {
                this.$store.commit('AGREGAR_RESTAURANTES_DELIVERY', respuesta.data);
            }).catch((error) => {
                console.log(error.message);
            });

        axios.get('https://api.elaniin.dev/api/locations?type=takeaway')
            .then(respuesta => {
                this.$store.commit('AGREGAR_RESTAURANTES_TAKEAWAY', respuesta.data);
            }).catch((error) => {
                console.log(error.message);
            });
    },
    computed: {
        deliverys() {
            return this.$store.state.locationsDelivery.filter(delivery => {
                //los helpers de .normalize y replace sirven para que el buscador no se ha sencible a acentos en las busquedas.
                return delivery.address.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()) ||
                    delivery.name.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase());
            });
        },
        takeaways() {
            return this.$store.state.locationsTakeaway.filter(takeaway => {
                //los helpers de .normalize y replace sirven para que el buscador no se ha sencible a acentos en las busquedas.
                return takeaway.address.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()) ||
                    takeaway.name.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase());
            });
        },
    },
    methods: {
        mostrarDeliverysMapa() {
            this.llevar = false;
        },
        mostrarTakeAwayMapa() {
            this.llevar = true;
        },
        obtenerCoordenadasTakeAway(takeaway) {
            return {
                lat: takeaway.latitude,
                lng: takeaway.longitude
            }
        },
        obtenerCoordenadasDelivery(delivery) {
            return {
                lat: delivery.latitude,
                lng: delivery.longitude
            }
        },
        obtenerPosicionTakeaway(takeaway) { //se mueve el mapa cuando a la pocion de la clinica del doctor
            setTimeout(() => {
                this.lat = takeaway.latitude;
                this.lng = takeaway.longitude;
                this.center = latLng(this.lat, this.lng);
                this.zoom = 13;
            }, 300);
        },
        obtenerPosicionDelivery(delivery) { //se mueve el mapa cuando a la pocion de la clinica del doctor

            setTimeout(() => {
                this.lat = delivery.latitude;
                this.lng = delivery.longitude;
                this.center = latLng(this.lat, this.lng);
                this.zoom = 13;
            }, 300);
        },
        enviarComentario() {
            this.$swal({
                title: '¿Confirma el envio de este comentario?',
                text: "¡Ten en cuenta que tu opinión ayudara mucho para mejorar nuestro servicio!",
                showCancelButton: true,
                showCloseButton: true,
                confirmButtonColor: '#00A99D',
                cancelButtonColor: '#999999',
                confirmButtonText: 'si'
            }).then((result) => {
                console.log(result);
                if (result.isConfirmed) {
                    const datos = {
                        name: this.nombres_apellido,
                        email: this.email,
                        message: this.mensaje
                    };
                    axios.post('https://api.elaniin.dev/api/contact', datos)
                        .then(respuesta => {
                            this.$swal({
                                imageUrl: "img/mail.svg",
                                title: '¡Gracias por tus comentarios!',
                                text: 'Don´t miss out great & Receive deals from all our top restaurants via e-mail.',
                                showCloseButton: true,
                                confirmButtonColor: '#00A99D',
                                confirmButtonText: 'Conoce nuestro menu'
                            });
                            console.log(respuesta);
                        }).catch(error => {
                            console.log(error);
                            this.$swal({
                                title: '¡Aviso!',
                                text: 'Tienes que completar todos los campos del formulario.',
                                showCloseButton: true,
                                confirmButtonColor: '#00A99D',
                                cancelButtonColor: '#999999',
                                confirmButtonText: 'ok'
                            });
                        });
                    this.$swal({
                        title: "Enviando Comentario...",
                        text: "Por favor espere",
                        timer: 5000,
                        showCancelButton: false,
                        showConfirmButton: false,
                    }).then((result) => {
                        console.log(result);
                    });
                }
            });
        },
        //funcion asincrona para que se abra el popup con el boton
        async displayTooltip(selectedIndex) {
            for (let markerObject of this.markerObjects) {
                markerObject.closePopup();
            }
            this.markerObjects[selectedIndex].openPopup();
        },
        async Tooltip(selectedIndex) {
            for (let markerObject of this.markerObjects) {
                markerObject.closePopup();
            }
            this.markerObjects[selectedIndex].openPopup();
        },
    },
    watch: {
        //sirve para asignarle los datos de todos los pines en el mapa y que funcione los popup
        takeaways() {
            this.$nextTick(() => {
                this.markerObjects = this.$refs.markersRef.map(ref => ref.mapObject);
            });
        },
        deliverys() {
            this.$nextTick(() => {
                this.markerObjects = this.$refs.markersRef.map(ref => ref.mapObject);
            });
        },
    }
}
</script>