<template>
    <div>
        <header-menu-component />
        <!--========Section Hero=========-->
        <section id="hero_menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 margen_menu" data-aos="zoom-in-up">
                        <h1>Cada sabor es una nueva<div class="animacion">experiencia</div>
                        </h1>
                    </div>
                    <div class="col-md-6" data-aos="zoom-in-up">
                        <img class="hamburger_menu" src="../../public/img/hero_hamburger_menu.svg">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="fas fa-search form-control-icon"></span>
                        <input v-model="buscador" class="form-control sm-2 buscador-icono" type="search"
                            placeholder="Busca tu platillo favorito..." aria-label="Search">
                    </div>
                    <div class="col">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a @click="todosmenu" class="nav-link active">Todos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a @click="menuTradicional" class="nav-link">Las tradicionales</a>
                                    </li>
                                    <li class="nav-item">
                                        <a @click="menuRecomendacion" class="nav-link">Recomendaciones</a>
                                    </li>
                                    <li class="nav-item">
                                        <a @click="menuCompartir" class="nav-link" tabindex="-1"
                                            aria-disabled="true">Para compartir</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <br>
            <div class="container" v-if="this.menutodos == true">
                <div class="row row-cols-1 row-cols-md-4" data-aos="zoom-in-up">
                    <div class="col mb-4" v-for="allmenu in pageOfItems" v-bind:key="allmenu.id">
                        <div class="cardds">
                            <img :src="`${allmenu.image}`" class="card-img-top img-card" :alt="allmenu.name">
                            <div class="card-body">
                                <h5 class="card-title">{{ allmenu.name }}</h5>
                                <p class="card-text">{{ allmenu.description }}</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><small class="text-muted">{{ allmenu.category }}</small>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <b class="precio">${{ allmenu.price }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============Paginacion=============-->
                <center>
                    <jw-pagination :items="allmenus" @changePage="onChangePage" :labels="paginacioncustomizada"
                        :pageSize=10>
                    </jw-pagination>
                </center>
                <div v-if="allmenus.length == 0">
                    <center>
                        <img src="../../public/img/errorSearchMenu.svg" alt="">
                    </center>
                </div>
            </div>
            <div class="container" v-else-if="this.menutradicional == true">
                <div class="row row-cols-1 row-cols-md-4" data-aos="zoom-in-up">
                    <div class="col mb-4" v-for="tradicional in pageOfItems" v-bind:key="tradicional.id">
                        <div class="card">
                            <img :src="`${tradicional.image}`" class="card-img-top" :alt="tradicional.name">
                            <div class="card-body">
                                <h5 class="card-title">{{ tradicional.name }}</h5>
                                <p class="card-text">{{ tradicional.description }}</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><small
                                                class="text-muted">{{ tradicional.category }}</small></p>
                                    </div>
                                    <div class="col">
                                        <b class="precio">${{ tradicional.price }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============Paginacion=============-->
                <center class="buttom">
                    <jw-pagination :items="tradicionales" @changePage="onChangePage" :labels="paginacioncustomizada"
                        :pageSize=10>
                    </jw-pagination>
                </center>
                <div v-if="tradicionales.length == 0">
                    <center>
                        <img src="../../public/img/errorSearchMenu.svg">
                    </center>
                </div>
            </div>
            <div class="container" v-else-if="this.menurecomendacion == true">
                <div class="row row-cols-1 row-cols-md-4" data-aos="zoom-in-up">
                    <div class="col mb-4" v-for="recomendacion in pageOfItems" v-bind:key="recomendacion.id">
                        <div class="card">
                            <img :src="`${recomendacion.image}`" class="card-img-top" :alt="recomendacion.name">
                            <div class="card-body">
                                <h5 class="card-title">{{ recomendacion.name }}</h5>
                                <p class="card-text">{{ recomendacion.description }}</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><small
                                                class="text-muted">{{ recomendacion.category }}</small></p>
                                    </div>
                                    <div class="col">
                                        <b class="precio">${{ recomendacion.price }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============Paginacion=============-->
                <center>
                    <jw-pagination :items="recomendaciones" @changePage="onChangePage" :labels="paginacioncustomizada"
                        :pageSize=10>
                    </jw-pagination>
                </center>
                <div v-if="recomendaciones.length == 0">
                    <center>
                        <img src="../../public/img/errorSearchMenu.svg" alt="">
                    </center>
                </div>
            </div>
            <div class="container" v-else-if="this.menucompartir == true">
                <div class="row row-cols-1 row-cols-md-4" data-aos="zoom-in-up">
                    <div class="col mb-4" v-for="compartir in pageOfItems" v-bind:key="compartir.id">
                        <div class="card">
                            <img :src="`${compartir.image}`" class="card-img-top" :alt="compartir.name">
                            <div class="card-body">
                                <h5 class="card-title">{{ compartir.name }}</h5>
                                <p class="card-text">{{ compartir.description }}</p>
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><small class="text-muted">{{ compartir.category }}</small>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <b class="precio">${{ compartir.price }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============Paginacion=============-->
                <center>
                    <jw-pagination :items="compartidos" @changePage="onChangePage" :labels="paginacioncustomizada"
                        :pageSize=10>
                    </jw-pagination>
                </center>
                <div v-if="compartidos.length == 0">
                    <center>
                        <img src="../../public/img/errorSearchMenu.svg" alt="">
                    </center>
                </div>
            </div>
        </section>
        <footer-component />
    </div>
</template>

<script>
//componentes
import HeaderMenuComponent from './shared/HeaderMenuComponent';
import FooterComponent from './shared/FooterComponent';

//plugins
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import JwPagination from 'jw-vue-pagination';
import AOS from 'aos';
import 'aos/dist/aos.css'; // You can also use <link> for styles
// ..
AOS.init();
Vue.use(VueAxios, axios);


const paginacioncustomizada = {
    first: '<<',
    last: '>>',
    previous: 'anterior',
    next: 'siguiente'
};

export default {
    name: 'MenuComponent',
    components: {
        HeaderMenuComponent,
        FooterComponent,
        JwPagination
    },
    data() {
        return {
            buscador: '',
            menutodos: true,
            menutradicional: false,
            menurecomendacion: false,
            menucompartir: false,
            paginacioncustomizada,
            pageOfItems: [],
            esMenu: true
        }
    },
    mounted() {
        axios.get('https://api.elaniin.dev/api/categories')
            .then(respuesta => {
                this.$store.commit('AGREGAR_CATEGORIAS_MENU', respuesta.data);
            }).catch((error) => {
                console.log(error.message);
            });

        axios.get('https://api.elaniin.dev/api/menu')
            .then(respuesta => {
                this.$store.commit('AGREGAR_TODO_MENU', respuesta.data);
            }).catch((error) => {
                console.log(error.message);
            });

        axios.get('https://api.elaniin.dev/api/menu?category=1')
            .then(respuesta => {
                this.$store.commit('AGREGAR_MENU_TRADICIONALES', respuesta.data);
            }).catch((error) => {
                console.log(error.message);
            });

        axios.get('https://api.elaniin.dev/api/menu?category=2')
            .then(respuesta => {
                this.$store.commit('AGREGAR_MENU_RECOMENDACIONES', respuesta.data);
            }).catch((error) => {
                console.log(error.message);
            });

        axios.get('https://api.elaniin.dev/api/menu?category=3')
            .then(respuesta => {
                this.$store.commit('AGREGAR_MENU_PARA_COMPARTIR', respuesta.data);
            }).catch((error) => {
                console.log(error.message);
            });

    },
    computed: {
        allmenus() {
            return this.$store.state.todoMenu.filter(allmenu => {
                //los helpers de .normalize y replace sirven para que el buscador no se ha sencible a acentos en las busquedas.
                return allmenu.name.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()) ||
                    allmenu.description.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase());
            });
        },
        tradicionales() {
            return this.$store.state.menuTradicionales.filter(tradicional => {
                //los helpers de .normalize y replace sirven para que el buscador no se ha sencible a acentos en las busquedas.
                return tradicional.name.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()) ||
                    tradicional.description.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()
                    .includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase());
            });

        },
        recomendaciones() {
            return this.$store.state.menuRecomendaciones.filter(recomendacion => {
                //los helpers de .normalize y replace sirven para que el buscador no se ha sencible a acentos en las busquedas.
                return recomendacion.name.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()
                    .includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()) ||
                    recomendacion.description.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()
                    .includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase());
            });
        },
        compartidos() {
            return this.$store.state.menuParaCompartir.filter(compartir => {
                //los helpers de .normalize y replace sirven para que el buscador no se ha sencible a acentos en las busquedas.
                return compartir.name.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase().includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()) ||
                    compartir.description.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase()
                    .includes(
                        this.buscador.normalize("NFD").replace(/[\u0300-\u036f]/g, '').toLowerCase());
            });
        }
    },
    methods: {
        onChangePage(pageOfItems) {
            // update page of items
            this.pageOfItems = pageOfItems;
        },
        todosmenu() {
            this.menutodos = true;
            this.menutradicional = false;
            this.menurecomendacion = false;
            this.menucompartir = false;
        },
        menuTradicional() {
            this.menutodos = false;
            this.menutradicional = true;
            this.menurecomendacion = false;
            this.menucompartir = false;
        },
        menuRecomendacion() {
            this.menutodos = false;
            this.menutradicional = false;
            this.menurecomendacion = true;
            this.menucompartir = false;
        },
        menuCompartir() {
            this.menutodos = false;
            this.menutradicional = false;
            this.menurecomendacion = false;
            this.menucompartir = true;
        }
    }
}
</script>